<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - Music Subscription</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="/" id="logo">Online Music Subscription</a>
        <div class="navbar-nav">
            <li class="nav-item"></li>
            <li class="nav-item"></li>
        </div>
        <div class="navbar-nav ml-auto">
            {% if g.current_user == None %}
                <li class="nav-item"><a class="nav-link"href="{{ url_for('register') }}"><i class="fas fa-user-plus"></i> Register</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}"><i class="fas fa-sign-in-alt"></i> Login</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" ><i class="fas fa-user"></i> {{ g.current_user['user_name']}}</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
            {% endif %}
            
        </div>
    </nav>
    {% block body %} {% endblock %}
    <div class="col-sm-3"></div>
</body>
</html>