{% extends 'base.html' %}

{% block head %}
<title>{% block title %}Register{% endblock %}</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-4"></div>
    <div style="padding-top: 20px;" class="col-sm-4">
        {% if register_success == False %}
          <div class="alert alert-danger" role="alert" id="alertdiv" style="display: block;">
            The {{ already_exists }} already exists, please try another.
          </div>
        {% endif %}
        <form action="/register" method="POST">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="form-group">
              <label for="username">Username:</label>
              <input type="username" class="form-control" name="username" required>
              </div>
            <div class="form-group">
              <label for="pass">Password:</label>
              <input type="password" class="form-control" name="pass" required>
            </div>
            <input type="submit" class="btn btn-dark" value="Register">
          </form>
  
    </div>
    <div class="col-sm-4"></div>
</div>
{% endblock %}